<!doctype html>
<html>

<head>
    <title>Registrera betyg</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
</head>

<body>
    <div class="border">
        <image src="images/ladok.png" id="ladok"/>
        <h1>Registrera betyg</h1>
        <form action="">
            StudentID:
            <input type="text" class="floral"><br>
            Kurskod:
            <input type="text" class="floral"><br>
            <input type="submit" value="Hämta betyg" class="btn"><br>
            Betyg:
            <input type="text" class="floral" value="U, G, VG"><br>
            <input type="submit" value="Registrera betyg" class="btn">
            <p>Betyg G har registrerats för [studentName] till Ladok!</p>
            <!-- <label value="Betyg G har registrerats för till Ladok!"></label> -->
        </form>

    </div>


    <!-- Load JS after page has parsed -->
    <script type="text/javascript" src="js/main.js"></script>

</body>

</html>
