<!doctype html>
<html>
<head>
    <title>Registrera betyg</title>
    <meta charset="utf-8">
    <meta name="author" content="Oskar,Erica & Lina">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
</head>

<body>
    <div class="border">
        <image src="images/ladok.png" id="ladok"/>
        <h1>Registrera betyg</h1>
        <form action="">
            <label for="studentId">Student ID</label>
            <input type="text" class="inputField" id="studentId"><br>
            
            <label for="kursKod">Kurskod</label>
            <input type="text" class="inputField" id="kursKod"><br>
            
            <label for="provKod">Provkod</label>
            <input type="text" class="inputField" id="provKod"><br>

            <label for="u">Underkänt</label>
            <input type="radio" class="inputField" id="u" value="Underkänt"><br>
            
            <label for="g">Godkänt</label>
            <input type="radio" class="inputField" id="g" value="Godkänt" checked><br>
            
            <label for="vg">Väl Godkänt</label>
            <input type="radio" class="inputField" id="vg" value="Väl Godkänt"><br>

            <input type="submit" value="Registrera betyg" class="btn">
        </form>
    </div>


    <!-- Load JS after page has parsed -->
    <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
